<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Consulta Sucursal</title>
</head>
<body>
	<h1>REALITZA LA TEVA CONSULTA:</h1>
	<a href="/sucursals/getAll">
		<button>TOTES LES SUCURSALS</button>
	</a>
	<br/>
    <br/> <!-- solve with padding css -->
	<br/>

	<!-- input value passed as parameter (see below after code) -->
	<!-- in this form data validation is done on client layer -->
	<form action="#" method="get" th:action="@{/buscar/oneId}">
		<label> ID de la sucursal:<br/>
			<input th:min="#{id.min}" th:name="id" type="number"/>
		</label>
		<br/>
		<br/>
		<input type="submit" value="BUSCAR SUCURSAL"/>
	</form>
	<!--
      TODO: informar tema path variable
      a) es demana que es mapegi endpoint .../sucursals/getOne/{id} -> path variable
      b) per a que el enllaç sigui dinàmic:
            ex: @{..../{x}(x=${nomVar})
      c) la variable ha de ser proporcionada pel model enviat a la vista
      d) He buscat de mil maneres com passar, en un path variable, un valor proporcionat per el usuari.
      e) No he trobat la solució, a tot arreu on mirava el tema de path variable amb thymeleaf són casos
        de (b+c). L'únic que he tret en clar és:
        There is no html/thymeleaf way (without javascript) to get a form
        field into the path part of a URL
      f) I tot el que he trobat, per a gestionar els inputs, és:
            g) Guardar la data en el model enviat a la vista i fer data-binding en el endpoint
                ex: típic cas en un formulari "nova entitat"
            h) Passar la data com a paràmetre en el path, i obtenir la data amb @RequestParam
                ex: típic cas de box de búsqueda
       -> CONCLUSIÓ: Opto per l'opció (h) + creo un endpoint amb @RequestParam  en NavigationController
            /buscar/oneId
            + redirecciono a sucursals/geOne/valorParàmetre,
            així el endpoint amb path variable està actiu
      -->
	<br/>
	<br/>
	<footer th:replace="components/footer :: peu_de_pagina"></footer>
</body>
</html>